:host {
  display: flex;
  align-items: center;
  gap: var(--dim-large);

  height: calc(var(--dim-medium) * 4);
  margin: 0;
  padding: 0 var(--dim-medium) 0 calc(var(--dim-large) + var(--level) * 32px);

  font-size: var(--text-font-size);
  border-radius: calc(var(--border-radius-large) - 1px);
  cursor: pointer;

  transition: background-color 250ms ease-in-out;

  &.root {
    font-weight: bold;
    cursor: default;
  }

  &:hover {
    // TODO Check colours
    background-color: var(--color-surface-primary-high);
  }

  &.selected {
    // TODO Check colours
    background-color: var(--color-surface-primary-highest);
  }
}

.label {
  overflow: hidden;
}

.prefix {
  flex-shrink: 0;
}

.action {
  flex-shrink: 0;
}
