:host {
  display: flex;
  align-items: center;
  gap: 16px;

  height: 32px;
  margin: 0;
  padding: 0 8px 0 calc(16px + var(--level) * 32px);

  font-size: 14px;
  border-radius: 7px;
  cursor: pointer;

  transition: background-color 250ms ease-in-out;

  &.root {
    font-weight: bold;
    cursor: default;
  }

  &:hover {
    background-color: var(--surface-accent-high);
  }

  &.selected {
    background-color: var(--surface-accent-highest);
  }
}

.label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.prefix {
  flex-shrink: 0;
}

.action {
  flex-shrink: 0;
}
