@let imageUrl = displayUrl();
@let loading = isLoading();
@let location = imageLocation$ | async | default:defaultImageLocation;

<div class="loading-indicator" [class.visible]="loading">
  <ui-icon icon="arrowClockwise" size="x-large" />
</div>

<div #surface
     class="surface"
     [style.zoom]="location.pixelRatio"
     [class.visible]="!loading">

  @if (imageUrl !== null) {
    <img alt=""
         [class.pannable]="location.zoom !== 'fit'"
         [width]="location.width"
         [height]="location.height"
         [style.left]="location.x | px"
         [style.top]="location.y | px"
         [src]="imageUrl"
         (mousedown)="onMouseDown($event)">
  }

</div>
