:host {
  display: block;
  position: relative;

  .surface {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;

    &.visible {
      opacity: 1;
    }
  }

  img {
    position: absolute;

    &.pannable {
      cursor: all-scroll;
    }
  }

  .loading-indicator {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: none;
    align-items: center;
    justify-content: center;

    &.visible {
      display: flex;
    }
  }
}
