:host {
  display: flex;
  flex-direction: column;

  height: 100%;
  background: var(--color-surface-default-lowest);

  position: relative;

  app-image-renderer {
    flex: 1;
  }

  ui-tool-menu {
    ui-text {
      margin: 0 var(--dim-medium);

      &.no-shrink {
        flex-shrink: 0;
      }

      &.zoom-info {
        min-width: 40px;
        text-align: right;
        margin-left: 0;
      }
    }

    ui-slider {
      width: 150px;
    }
  }
}
