@let selected = selectedImage$ | async;
@let hasPrevious = hasPrevious$ | async;
@let hasNext = hasNext$ | async;
@let fullScreen = isFullScreen();
@let dimensions = imageDimensions();
@let exif = exifState();
@let location = imageLocation$ | async | default:defaultImageLocation;

@if (selected !== null) {
  @if (!fullScreen) {
    <ui-tool-menu>
      <section></section>
      <section>
        <ui-text [title]="selected.path | fileName">
          {{ selected.path | fileName }}
        </ui-text>
      </section>
      <section></section>
    </ui-tool-menu>
  }

  <app-image-renderer [url]="selected.url"
                      [class]="animationState()"
                      (animationend)="onAnimationEnd($event)"
                      (dimensions)="imageDimensions.set($event)" />

  @if (!fullScreen) {
    <ui-tool-menu>
      <section>
        <ui-action-button title="EXIF Information"
                          [compact]="true"
                          [variant]="'default'"
                          (pressed)="toggleExifInfo(selected.path)">
          <ui-icon icon="info"
                   size="large"
                   [inherit]="true" />
        </ui-action-button>

        <app-vertical-divider />

        <ui-text class="no-shrink">
          {{ dimensions.width }} x {{ dimensions.height }}
        </ui-text>
      </section>

      <section>
        <ui-action-button title="Previous image (Left)"
                          [compact]="true"
                          [disabled]="hasPrevious !== true"
                          (pressed)="prevPhoto()">
          <ui-icon icon="chevronLeft"
                   size="large"
                   [inherit]="true" />
        </ui-action-button>

        <ui-action-button title="Back to Dashboard"
                          [compact]="true"
                          (pressed)="goBack()">
          <ui-icon icon="dismissCircle"
                   size="large"
                   [inherit]="true" />
        </ui-action-button>

        <ui-action-button title="Next image (Right)"
                          [compact]="true"
                          [disabled]="hasNext !== true"
                          (pressed)="nextPhoto()">
          <ui-icon icon="chevronRight"
                   size="large"
                   [inherit]="true" />
        </ui-action-button>
      </section>

      <section>
        <ui-action-button title="Fit to window"
                          [disabled]="location.zoom === 'fit'"
                          (pressed)="fitToWindow()">
          <ui-icon icon="scaleFit"
                   size="large"
                   [inherit]="true" />
        </ui-action-button>

        <ui-slider [formControl]="zoomSlider"
                   [min]="1"
                   [max]="800" />

        <ui-text class="no-shrink zoom-info">
          @let zoomValue = location.zoom === 'fit' ? location.fitZoom : zoomSlider.value;
          {{ zoomValue | number: '1.0-0' }}%
        </ui-text>

        <app-vertical-divider />

        <ui-action-button title="Toggle full screen mode (F)"
                          [compact]="true"
                          [variant]="fullScreen ? 'primary' : 'default'"
                          (pressed)="toggleFullScreen()">
          <ui-icon icon="fullScreenMaximize"
                   size="large"
                   [inherit]="true" />
        </ui-action-button>
      </section>
    </ui-tool-menu>
  }

  @if (exifVisible()) {
    <ui-info-overlay>
      <app-exif-info [exif]="exif"
                     [dimensions]="dimensions" />
    </ui-info-overlay>
  }
}
