:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ui-toolbar {
  margin-bottom: var(--dim-xx-large);

  aside {
    margin-right: var(--dim-xx-large);
  }
}

.wrapper {
  overflow-y: auto;
  padding-right: var(--dim-large);
}


.expander {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition: opacity 250ms ease-in-out, grid-template-rows 250ms ease-in-out;

  .expander-wrapper {
    overflow: hidden;
  }
}
