@let path = selectedPath();
@let folderList = folders();
@let foldersVisible = showFolders();

<h1>
  @if (path.length > 1) {
    <ui-action-button (pressed)="folderPopped.emit()">
      <ui-icon icon="chevronLeft" size="large"/>
    </ui-action-button>
  }

  @if (path.length === 0) {
    <span class="header">No location selected</span>
  } @else {
    <span>{{ path[ path.length - 1 ] }}</span>
  }

  <div class="spacer"></div>

  @if (folderList.length > 0) {
    <span class="action">
      @if (foldersVisible) {
        Hide sub-folders
      } @else {
        Show sub-folders
      }
    </span>
    <ui-action-button (pressed)="toggleFolders()">
      <ui-icon icon="chevronDown" size="medium" [class.show-folders]="foldersVisible"/>
    </ui-action-button>
  }
</h1>

<div class="wrapper">
  @if (folderList.length > 0) {
    <div class="expander" [class.show-folders]="foldersVisible">
      <div class="expander-wrapper">
        <app-folders [contents]="folderList"
                     (clicked)="folderPushed.emit($event)" />
      </div>
    </div>
  }

  <app-images [contents]="files()" />
</div>
