:host {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
}

.viewer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
}

.source-content {
  display: none;
}

.message {
  color: #EEE;
}
