@if (isEmpty()) {
  <p class="message">
    No images found.
  </p>
} @else {
  <div class="viewer">

    @for (image of images(); let index = $index; track image.url) {
      @if (image !== null) {
        <img [src]="image.url"
             alt=""
             [class.showing]="image.showing"
             [class.hiding]="image.hiding"
             [class.hidden]="image.hidden"
             [class]="direction()"
             (animationend)="onAnimationEnd($event)">
      }
    }

  </div>

  <div class="control-strip" [class.hidden]="isHidden$ | async">
    <button [disabled]="!hasPrev()"
            (click)="onPrev()">
      &lsaquo;
    </button>

    <button [disabled]="!hasNext()"
            (click)="onNext()">
      &rsaquo;
    </button>
  </div>
}

<div class="source-content" #wrapper>
  <ng-content />
</div>
