:host {
  position: relative;
  display: block;
  height: 100%;
  background: #000;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: auto;

  &.contain {
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &.original {
    img {
      object-fit: none;
    }
  }
}
