:host {
  display: block;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: var(--dim-large);
  container-type: inline-size;

  app-thumbnail {
    background: var(--color-surface-default-medium);
    border-radius: var(--border-radius-large);
    overflow: hidden;

    // TODO Obtain dimensions from configuration
    width: 192px;
    height: 128px;
  }
}
