@let galleryRoot = galleryRoot$ | async;
@let selectedLocation = selectedLocation$ | async;
@let images = images$ | async;
@let sorting = sortMode$ | async | default:defaultSortMode;
@let thumbSize = thumbSize$ | async | default:defaultThumbnailSize;

<ui-side-panel>

  <aside>
    <ui-vertical-stack>
      <section>
        @if (galleryRoot !== null) {
          <ui-tree #tree
                   [root]="galleryRoot"
                   [menu]="galleryMenu"
                   [enableLoading]="true"
                   (loadRequested)="loadTreeNode($event)"
                   (selected)="selectLocation($event)" />
        }
      </section>

      <footer>
        <ui-toolbar>
          <aside>
            <ui-action-button (pressed)="openSettings()">
              <ui-icon icon="settings"
                       size="large"
                       thickness="thin"
                       [inherit]="true" />
            </ui-action-button>
          </aside>
        </ui-toolbar>
      </footer>
    </ui-vertical-stack>
  </aside>

  <app-image-grid [selectedLocation]="selectedLocation"
                  [images]="images"
                  [sortBy]="sorting.sortBy"
                  [sortDirection]="sorting.sortDir"
                  [thumbSize]="thumbSize"
                  (sortByChanged)="onSortByChange($event)"
                  (sortDirChanged)="onSortDirChange($event)"
                  (thumbSizeChanged)="onThumbSizeChange($event)"
                  (selected)="onImageSelected($event)" />

</ui-side-panel>

<ng-template #galleryMenu let-data="data">
  <ui-popup-menu cdkMenu>

    @if (data.id === '') {
      <ui-action-button cdkMenuItem
                        (pressed)="onAddLocation()">
        <ui-icon icon="folderAdd" [inherit]="true" />
        <ui-text [inherit]="true">Add new location</ui-text>
      </ui-action-button>
    } @else {

      <ui-action-button cdkMenuItem
                        variant="warn"
                        (pressed)="onRemoveLocation(data)">
        <ui-icon icon="folderProhibited" [inherit]="true" />
        <ui-text [inherit]="true">Remove</ui-text>
      </ui-action-button>
    }

  </ui-popup-menu>
</ng-template>
