:host {
  display: flex;
  height: 100%;
  justify-content: stretch;
  align-items: stretch;
}

.tester {
  background: var(--surface-accent-low);
  width: 100px;
}

.tester2 {
  background: var(--surface-warn-low);
  width: 100px;
}
