@let galleryRoot = galleryRoot$ | async;
<!--@let selected = selectedLocation();-->

<ui-side-panel>
  <aside>
    @if (galleryRoot !== null) {
      <ui-tree #tree
               [root]="galleryRoot"
               [menu]="galleryMenu"
               [enableLoading]="true"
               (loadRequested)="loadTreeNode($event)" />
    }
  </aside>

  <app-image-grid [selectedPath]="selectedPath()"
                  [contents]="contents()"
                  (folderPushed)="onFolderPush($event)"
                  (folderPopped)="onFolderPop()" />
</ui-side-panel>

<ng-template #galleryMenu let-data="data">
  <ui-popup-menu cdkMenu>
    @if (data.id === '') {
      <ui-action-button cdkMenuItem
                        (pressed)="onAddLocation()">
        <ui-icon icon="folderAdd" [inherit]="true" />
        <ui-text [inherit]="true">Add new location</ui-text>
      </ui-action-button>
    } @else {
      <ui-action-button cdkMenuItem
                        variant="warn"
                        (pressed)="onRemoveLocation(data)">
        <ui-icon icon="folderProhibited" [inherit]="true" />
        <ui-text [inherit]="true">Remove</ui-text>
      </ui-action-button>
    }
  </ui-popup-menu>
</ng-template>
