@let locs = locations();
@let selected = selectedLocation();

<ul>
  @for (location of locs; track location) {
    <li>
      <app-location-element icon="folder"
                            [level]="1"
                            [description]="location"
                            [menu]="sectionMenu"
                            [menuData]="location"
                            [selected]="selected === location"
                            (clicked)="clicked.emit(location)">
        <ui-text>{{ location | locationName }}</ui-text>
      </app-location-element>
    </li>
  }
</ul>

<ng-template #sectionMenu let-data="data">
  <ui-popup-menu cdkMenu>
    <ui-action-button cdkMenuItem
                      variant="warn"
                      (pressed)="onRemoveLocation(data)">
      <ui-icon icon="folderProhibited" [inherit]="true" />
      <ui-text [inherit]="true">Remove</ui-text>
    </ui-action-button>
  </ui-popup-menu>
</ng-template>
