@let locs = locations();
@let selected = selectedLocation();

<ul>
  @for (location of locs; track location) {
    <li>
      <app-location-element icon="folder"
                            [level]="1"
                            [description]="location"
                            [menu]="sectionMenu"
                            [menuData]="location"
                            [selected]="selected === location"
                            (clicked)="clicked.emit(location)">
        {{ location | locationName }}
      </app-location-element>
    </li>
  }
</ul>

<mat-menu #sectionMenu>
  <ng-template matMenuContent let-data="data">
    <button mat-menu-item (click)="onRemoveLocation(data)">
      <mat-icon fontIcon="folder_delete" />
      <span>Remove</span>
    </button>
  </ng-template>
</mat-menu>
