$default-color: #B0BEC5;
$active-color: #ECEFF1;

:host {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: $default-color;
  gap: 16px;
  padding: 16px 0;
  opacity: 0;
  transition: opacity 250ms ease-in-out;

  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: $default-color;

    &.active {
      color: $active-color;
    }
  }

  &.visible {
    opacity: 1;
  }
}
