$default-color: var(--mat-sys-on-surface);
$active-color: var(--mat-sys-on-primary-container);
$disabled-color: var(--mat-sys-outline);

:host {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: $default-color;
  gap: 16px;
  padding: 16px 32px;
  opacity: 0;
  transition: opacity 250ms ease-in-out;

  .file-name {
    flex: 1;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      color: $default-color;

      lucide-icon {
        display: block;
      }

      &.active {
        color: $active-color;
        cursor: default;
      }

      &:disabled {
        color: $disabled-color;
        cursor: default;
      }
    }
  }

  .misc {
    flex: 1;
    text-align: right;
  }

  &.visible {
    opacity: 1;
  }
}
