<app-location-element icon="desktop"
                      [level]="0"
                      [menu]="rootMenu"
                      [selected]="false">
  <ui-text [important]="true">My PC</ui-text>
</app-location-element>

<app-location-section [locations]="locations()"
                      [selectedLocation]="selectedLocation()"
                      (clicked)="this.locationClicked.emit($event)" />

<ng-template #rootMenu>
  <ui-popup-menu cdkMenu>
    <ui-action-button cdkMenuItem
                      (pressed)="onAddLocation()">
      <ui-icon icon="folderAdd" />
      <ui-text>Add new location</ui-text>
    </ui-action-button>
  </ui-popup-menu>
</ng-template>
