<ui-tree [root]="root()"
         [menu]="complexMenu"
         (selected)="this.locationClicked.emit($event.id)" />

<ng-template #complexMenu let-data="data">
  <ui-popup-menu cdkMenu>
    @if (data.id === '') {
      <ui-action-button cdkMenuItem
                        (pressed)="onAddLocation()">
        <ui-icon icon="folderAdd" [inherit]="true" />
        <ui-text [inherit]="true">Add new location</ui-text>
      </ui-action-button>
    } @else {
      <ui-action-button cdkMenuItem
                        variant="warn"
                        (pressed)="onRemoveLocation(data)">
        <ui-icon icon="folderProhibited" [inherit]="true" />
        <ui-text [inherit]="true">Remove</ui-text>
      </ui-action-button>
    }
  </ui-popup-menu>
</ng-template>
