<app-location-element icon="desktop"
                      [level]="0"
                      [menu]="rootMenu"
                      [selected]="false">
  <ui-text [important]="true">My PC</ui-text>
</app-location-element>

<app-location-section [locations]="locations()"
                      [selectedLocation]="selectedLocation()"
                      (clicked)="this.locationClicked.emit($event)" />

<mat-menu #rootMenu>
  <button mat-menu-item (click)="onAddLocation()">
    <mat-icon fontIcon="create_new_folder" />
    <span>Add new location</span>
  </button>
</mat-menu>


